body {
margin: 100px;

    color: rgb(77, 77, 77);

}

h2{
color:rgb(76, 112, 3);
text-decoration: underline;
}

h3 {
color: rgb(83, 83, 83);


}
span {color: rgb(240, 176, 139);}

.content{
    margin-right: 800px;
    margin-left: 0px;
    
    }