body {
    background-color: rgb(83, 83, 83);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 48px;                /* Taille de police plus grande */
    font-weight: bold;              /* Rendre le titre gras */
    color: rgb(214, 114, 0);        /* Couleur principale du texte */
    letter-spacing: 2px;            /* Espacement entre les lettres */
    background: linear-gradient(90deg, rgba(214,114,0,1) 0%, rgba(255,165,0,1) 100%); /* Dégradé de couleur */
    -webkit-background-clip: text;  /* Applique le dégradé uniquement au texte */
    color: transparent;             /* Rendre le fond transparent pour voir le dégradé */
    padding: 10px 20px;             /* Espacement autour du titre */
    display: flex;          /* Permet au titre d'avoir une largeur adaptée à son contenu */
    transition: transform 0.3s ease; /* Animation lors du survol */
    text-align: center;
}

.menu {
    display: flex;               /* Utilisation de Flexbox pour centrer les éléments */
    justify-content: center;      /* Centre les éléments horizontalement */
    padding: 0;                  /* Enlève les marges inutiles */
    list-style-type: none;        /* Enlève les puces de la liste */
    margin: 10px 0;              /* Ajoute un peu d'espace autour du menu */
}

.menu li {
    padding: 15px;               /* Espacement entre les éléments du menu */
    list-style: none;
}

.menu a {
    text-decoration: none;       /* Enlève le soulignement des liens */
    color: rgb(214, 114, 0);     /* Couleur des liens */
    padding: 5px 10px;          /* Ajoute de l'espace à l'intérieur des liens */
    border-radius: 5px;          /* Ajoute des coins arrondis */
    background-color: rgb(50, 50, 50); /* Ajoute un fond sombre aux liens */
    transition: background-color 0.3s ease; /* Animation lors du survol */
}

.menu a:hover {
    background-color: rgb(100, 100, 100); /* Couleur de fond au survol */
}

.content {
    text-align: center;
    margin: 0 auto;
    max-width: 800px; 
    min-width: 400px;  
    width: 80%;           
    padding: 20px;
    color: white;                /* Ajoute une couleur de texte pour le contenu */
}

a {
    color: rgb(214, 114, 0);
}


