body {
    background-color: rgba(78, 78, 78, 0.973);
    font-family: "Alata", sans-serif;
    font-style: normal;
    font-weight: 400;
}



h1 {
    font-size: 48px;                /* Taille de police plus grande */
    color: rgb(218, 141, 42);        /* Couleur principale du texte */
    text-align: center;

}

.menu {
    display: flex;               /* Utilisation de Flexbox pour centrer les éléments */
    justify-content: center;      /* Centre les éléments horizontalement */
    padding: 0;                  /* Enlève les marges inutiles */
    list-style-type: none;        /* Enlève les puces de la liste */
    margin: 10px 0;              /* Ajoute un peu d'espace autour du menu */
}

.menu li {
    padding: 15px;               /* Espacement entre les éléments du menu */
    list-style: none;
}

.menu a {
    text-decoration: none;       /* Enlève le soulignement des liens */
    color: rgb(226, 225, 223);     /* Couleur des liens */
    padding: 5px 10px;          /* Ajoute de l'espace à l'intérieur des liens */
    border-radius: 5px;          /* Ajoute des coins arrondis */
    background-color: rgb(50, 50, 50); /* Ajoute un fond sombre aux liens */
    transition: background-color 0.3s ease; /* Animation lors du survol */
}

.menu a:hover {
    background-color: rgb(100, 100, 100); /* Couleur de fond au survol */
}

.content {
    text-align: center;
    margin: 0 auto;
    max-width: 800px; 
    min-width: 400px;  
    width: 80%;           
    padding: 20px;
    color: white;                /* Ajoute une couleur de texte pour le contenu */
}

a {
    color: rgb(209, 117, 24);
}